//belgian specific
$primary: #016CB1;
$secondary: #3A4144;

.btn-info {
  background-color: $primary !important;
  border-color: $primary !important;
}

.list-group-item {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}