$primary: #bc2d24;
$secondary: #47555c;

.btn-info {
  background-color: $primary !important;
  border-color: $primary !important;
}

.list-group-item {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}